@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(size: Int, groups: Seq[(String, (Int, Int))])

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

 <h1>@size видов товаров в наличии</h1>
 <table class="table table-hover">
  <thead>
  <th>Вид пива</th>
  <th>Видов в наличии</th>
  <th>Бутылок в наличии</th>
  </thead>
 @for((group, stat) <- groups) {
 <tr>
  <td>@group</td>
  <td>@stat._1</td>
  <td>@stat._2</td>
 </tr>
 }
 </table>
}
